/*variables*/
/*variables*/
* {
  padding: 0;
  margin: 0; }

body {
  background-color: #fffbff; }

ul {
  list-style: none; }

/*!menu*/
.logo {
  font-size: 40px;
  width: fit-content;
  align-self: center; }
  .logo a {
    margin-left: 10px;
    height: fit-content;
    color: #eef788;
    font-family: "Rouge Script", cursive;
    text-decoration: none; }

header {
  grid-area: nav;
  height: fit-content; }
  header .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px #212529 solid;
    width: 100%;
    background-color: #90a955; }
    header .menu .menu__lista {
      width: 800px;
      height: 100%;
      list-style: none;
      display: flex; }
      header .menu .menu__lista .menu__item {
        font-family: "Lora", serif;
        height: fit-content; }
        header .menu .menu__lista .menu__item .menu__link {
          text-decoration: none;
          color: #eef788;
          margin: 0px 10px; }
          header .menu .menu__lista .menu__item .menu__link:hover {
            color: #212529; }

/**fin de menu*/
.container,
.container-fluid,
.row {
  margin: 0;
  padding: 0; }

.clasico > div {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 15px;
  border: 1px solid rgba(238, 247, 136, 0.8); }

.modal-header {
  background-color: #4f772d;
  color: #eef788; }

.modal-title {
  font-size: 1.5rem; }

.modal-body {
  font-size: 1.5rem;
  display: flex;
  justify-content: center; }

.modal-content {
  background-color: #eef788;
  color: #4f772d;
  border: 1px solid; }

.btn {
  background-color: #4f772d;
  color: #eef788;
  border: 1px solid #4f772d; }

.btn:hover {
  background-color: #90a955;
  border: 1px solid #90a955;
  color: #31572c; }

.shop {
  background-color: #90a955;
  color: #eef788;
  margin-top: 4px;
  margin-bottom: 10px;
  box-shadow: #31572c;
  border-radius: 5px;
  font-weight: bold;
  max-width: 90px;
  min-width: 80px; }

.product-name {
  font-size: 1.5em;
  color: #31572c; }

.price {
  font-size: 2.5em;
  color: #4f772d; }

.description {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 50%; }

.customer {
  padding-top: 20px; }
  .customer h1 {
    font-size: 3em;
    text-align: center;
    margin: 0px;
    color: #31572c;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: blink; }

.contact-card {
  text-align: center; }

.delivery {
  text-align: center; }

.form {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  font-size: 2em;
  padding: 30px 10px; }

.field {
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #cecac5; }

select {
  font-size: 20px;
  padding: 5px;
  background-color: #cecac5;
  max-width: 240px; }

input {
  font-size: 20px;
  padding: 5px;
  width: 250px; }

.campoNumerico {
  width: 240px;
  background-color: #cecac5;
  text-align: right; }

.error {
  color: red;
  font-size: 1.5rem; }

.agregar {
  height: 50px;
  width: 200px;
  background-color: #90a955;
  color: #eef788;
  padding-bottom: 5px;
  margin-top: 10px;
  box-shadow: #31572c;
  border-radius: 5px;
  font-weight: bold; }

.buton {
  background-color: #90a955;
  color: #eef788;
  margin-top: 4px;
  box-shadow: #31572c;
  border-radius: 5px;
  font-weight: bold; }

.form-cliente {
  text-align: center; }

.info-cliente {
  border: 1px solid #131212;
  text-align: center;
  font-size: 2em;
  margin-bottom: 30px; }

.boton {
  display: flex;
  justify-content: center;
  padding-bottom: 20px; }

.button-p {
  background-color: #d7df91;
  opacity: "0.7";
  color: #22011e;
  opacity: "0.7";
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 0px solid black;
  border-radius: 30px;
  font-weight: bold;
  height: 50px;
  width: 200px;
  align-self: center; }

.pedido-final {
  display: flex;
  justify-content: center;
  margin-top: 10px; }

.finalizar-pedido {
  width: 80%;
  background-color: #212529;
  color: #eef788; }

.total {
  color: #eef788;
  font-size: 20px; }

.monto {
  color: #eef788;
  font-size: 20px; }

.items {
  color: #eef788;
  font-size: 18px; }

.icono-eliminar {
  color: red;
  cursor: pointer; }

.finalizar {
  height: 50px;
  width: 300px;
  background-color: #90a955;
  color: #eef788;
  padding-bottom: 5px;
  margin-top: 10px;
  box-shadow: #31572c;
  border-radius: 5px;
  font-weight: bold; }

.form-cliente {
  padding-top: 10px;
  margin-bottom: 10px; }

#costumer h1 {
  font-family: "Ubuntu", sans-serif; }

/*footer*/
/*!footer*/
.divFoot {
  grid-area: footer;
  height: fit-content;
  align-self: end;
  background-color: #90a955; }
  .divFoot .redesSociales {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .divFoot .redesSociales .icono {
      color: #eef788;
      text-align: center; }
      .divFoot .redesSociales .icono:hover {
        color: #212529; }
  .divFoot .datos {
    height: fit-content;
    justify-self: center;
    align-self: center; }

/*fin del footer*/
.tunas {
  grid-area: aceitunas; }
  .tunas .tunas__sabores {
    display: flex;
    padding: 0px; }
    .tunas .tunas__sabores .tunas__lista {
      color: #4f772d; }

.quesos {
  grid-area: quesos; }
  .quesos .quesos__lista {
    color: #4f772d; }

#carrusel {
  grid-area: carrusel;
  justify-self: center;
  align-self: center; }
  #carrusel::after {
    width: fit-content;
    height: auto; }

#bodie {
  display: flex;
  flex-direction: column; }
  #bodie #card {
    margin: 30px 0px 30px 0;
    justify-self: center;
    align-self: center;
    display: grid;
    width: 700px;
    height: 600px;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 3fr 0.5fr 2fr;
    grid-template-areas: "carrusel carrusel" "precio precio" "datos datos";
    background-color: #eef788;
    border-radius: 10%; }
    #bodie #card #precioFinal {
      grid-area: precio;
      color: #eef788;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      color: #4f772d;
      font-family: "Lora", serif;
      font-style: normal;
      font-weight: 500; }
    #bodie #card #carouselExampleControls {
      grid-area: carrusel;
      align-self: center;
      height: 400px;
      color: black; }
      #bodie #card #carouselExampleControls img {
        height: 400px; }
    #bodie #card #producto {
      grid-area: datos;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "label1 input1" "label2 input2" "label3 input3" "comprar comprar"; }
      #bodie #card #producto #label1 {
        grid-area: label1;
        justify-self: end; }
      #bodie #card #producto #label2 {
        grid-area: label2;
        justify-self: end; }
      #bodie #card #producto #label3 {
        justify-self: end;
        grid-area: label3; }
      #bodie #card #producto #aceitunitas {
        grid-area: input1; }
      #bodie #card #producto #tamanio {
        grid-area: input2; }
      #bodie #card #producto #cant {
        grid-area: input3; }
      #bodie #card #producto #comprar {
        grid-area: comprar;
        justify-self: start; }
      #bodie #card #producto .labelProduct {
        justify-self: center;
        font-size: 20px;
        line-height: 20px;
        text-align: flex-start;
        color: #4f772d;
        font-family: "Lora", serif;
        font-style: normal;
        font-weight: 500;
        height: fit-content;
        align-self: center;
        width: fit-content; }
      #bodie #card #producto .forma {
        align-self: center;
        width: 50%;
        border-radius: 5px;
        margin-left: 10px; }
        #bodie #card #producto .forma:focus-visible {
          outline: none; }

@media only screen and (min-width: 1024px) {
  #grilla2 {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 3fr;
    grid-template-rows: 0.5fr 6fr 1.2fr;
    grid-template-areas: "nav nav nav nav" "section section section section" "footer footer footer footer";
    row-gap: 10px;
    width: 100%;
    height: auto; }
  /*!menu*/
  header .menu {
    font-size: 25px;
    height: 50px; }
    header .menu .logo {
      font-size: 50px; }
    header .menu .menu__lista {
      height: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end; }
      header .menu .menu__lista .menu__item .menu__link {
        margin: 0px 10px; }
  /**fin de menu*/
  /*footer*/
  .divFoot {
    grid-area: footer;
    height: fit-content;
    align-self: end;
    display: flex;
    justify-content: center;
    height: 200px;
    border-top: 1px rgba(27, 32, 26, 0.979) solid;
    grid-area: footer; }
    .divFoot footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 2fr;
      grid-template-areas: "con red legal" "datos redes none";
      height: 100%;
      width: 90%; }
      .divFoot footer .tituloFoot {
        width: fit-content;
        font-size: 22px;
        font-family: "Ubuntu", sans-serif;
        justify-self: center;
        align-self: center;
        margin: 0%; }
      .divFoot footer .datos {
        grid-area: datos;
        width: fit-content;
        justify-self: center;
        font-family: "Ubuntu", sans-serif;
        font-size: 18px; }
        .divFoot footer .datos p {
          width: 100%; }
      .divFoot footer .redesSociales {
        grid-area: redes;
        height: 100%;
        justify-content: space-evenly;
        align-items: center; }
        .divFoot footer .redesSociales .icono {
          color: #eef788;
          text-align: center;
          width: 40px;
          height: 40px;
          border-radius: 2em;
          box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.09);
          margin: 0 10px;
          line-height: 40px;
          font-size: 30px; }
          .divFoot footer .redesSociales .icono:hover {
            color: #212529; }
    .divFoot .legalInfo {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center; }
      .divFoot .legalInfo .far {
        color: #eef788; }
      .divFoot .legalInfo .fab {
        color: #eef788; }
      .divFoot .legalInfo i {
        font-size: 30px; }
  /**Fin del footer*/
  html {
    width: 100%; }
  #clasico {
    grid-area: clasico;
    width: 100%; }
  .tunas {
    grid-area: aceitunas; }
    .tunas .tunas__titulo {
      font-size: 68px;
      font-weight: normal;
      font-style: normal;
      color: #31572c;
      text-align: center;
      font-family: "Rouge Script", cursive; }
    .tunas .tunas__parrafo {
      font-size: 32px;
      font-weight: normal;
      text-align: center;
      color: #31572c;
      font-family: "Ubuntu", sans-serif; } }
