/*variables*/
$colorCrema: #eef788;
$colorHover: #212529;
$verde1: #90a955;
$verde2: #31572c;
$verde3: #4f772d;
$font: 32px;

/*variables*/
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #fffbff;
}
ul {
  list-style: none;
}
@mixin titulos($size, $weight, $style) {
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
  color: $verde2;
  text-align: center;
  font-family: "Rouge Script", cursive;
}

@mixin parrafos($size, $height, $align) {
  font-size: $size;
  line-height: $height;
  text-align: $align;
  color: $verde3;
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: 500;
}
@mixin pregunta($size, $weight, $align) {
  font-size: $size;
  font-weight: $weight;
  text-align: $align;
  color: $verde2;
  font-family: "Ubuntu", sans-serif;
}
/*!menu*/
.logo {
  font-size: 40px;
  width: fit-content;
  align-self: center;
  a {
    height: fit-content;
    color: $colorCrema;
    font-family: "Rouge Script", cursive;
    text-decoration: none;
  }
}
header {
  grid-area: nav;
  height: fit-content;
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px $colorHover solid;
    width: 100%;
    background-color: $verde1;

    .menu__lista {
      width: 800px;
      height: 100%;
      list-style: none;
      display: flex;
      .menu__item {
        font-family: "Lora", serif;
        height: fit-content;
        .menu__link {
          text-decoration: none;
          color: $colorCrema;
          margin: 0px 10px;
          &:hover {
            color: $colorHover;
          }
        }
      }
    }
  }
}
/**fin de menu*/

/*footer*/
/*!footer*/
.divFoot {
  grid-area: footer;
  height: fit-content;
  align-self: end;
  background-color: #90a955;
  .redesSociales {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .icono {
      color: #eef788;
      text-align: center;
      &:hover {
        color: #212529;
      }
    }
  }
  .datos {
    height: fit-content;
    justify-self: center;
    align-self: center;
  }
}

/*fin del footer*/

.tunas {
  grid-area: aceitunas;

  .tunas__sabores {
    display: flex;
    padding: 0px;
    .tunas__lista {
      color: $verde3;
    }
  }
}

.quesos {
  grid-area: quesos;
  .quesos__lista {
    color: $verde3;
  }
}

#carrusel {
  grid-area: carrusel;
  justify-self: center;
  align-self: center;

  &::after {
    width: fit-content;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  #grilla2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.2fr 14fr 2fr;
    grid-template-areas:
      "nav nav nav"
      "section section section"
      "footer footer footer";
  }
  /*menu*/

  header {
    grid-area: nav;
    .menu {
      .logo {
        font-size: 64px;
      }
      font-size: 15px;
      height: 120px;
      .menu__lista {
        height: 100%;
        margin: 0%;
        padding: 0%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        .menu__item {
          height: 22px;
          width: fit-content;
          .menu__link {
            margin: 0px 5px;
          }
        }
      }
    }
  }
  /*fin del menu*/

  /*!section*/
  #pregFrecuentes {
    @include titulos(50px, 500, normal);
  }
  .section {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    .section__article {
      .section__titulo {
        @include pregunta(25px, normal, center);
      }
      .section__p {
        @include parrafos(20px, 40px, center);
      }
    }
  }
  /**fin del section*/

  #grilla1 {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1.2fr 2.1fr 22fr 0.8fr 12fr 2fr 9fr 2fr;
    grid-template-areas:
      "nav "
      "aceitunas"
      "clasico"
      "deluxe "
      "deluxes"
      "quesos"
      "quesito"
      "footer ";
    row-gap: 10px;
    column-gap: 10px;
    overflow-x: hidden;
  }
  .tunas {
    grid-area: aceitunas;
    .tunas__titulo {
      @include titulos(($font * 2)+4, normal, normal);
    }
    .tunas__parrafo {
      @include pregunta($font, normal, center);
    }
  }
  #clasico {
    width: 100%;
    height: fit-content;
    grid-area: clasico;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
      "uno"
      "dos"
      "tres"
      "cuatro"
      "cinco"
      "seis"
      "siete"
      "ocho";

    row-gap: 10px;
    column-gap: 10px;

    .producto {
      justify-self: center;
      align-self: center;
      display: flex;
      flex-direction: column;
      border-radius: 2em;
      width: 80%;
      height: 300px;
      background-color: $colorCrema;
      align-self: center;
      justify-content: center;
      align-items: center;

      img {
        width: 70%;
      }
      p {
        height: fit-content;
        margin: 0px 5px;
        @include parrafos(18px, 18px, center);
      }
    }

    #roque {
      grid-area: uno;
    }
    #holanda {
      grid-area: dos;
    }
    #cheddar {
      grid-area: tres;
    }
    #crudo {
      grid-area: cuatro;
    }
    #salame {
      grid-area: cinco;
    }
    #mix3 {
      grid-area: ocho;

      justify-self: center;
    }
  }

  #deluxeTitulo {
    grid-area: deluxe;
    @include pregunta($font, normal, center);
    margin: 0;
    height: fit-content;
    align-self: flex-end;
  }
  #deluxes {
    width: 100%;
    grid-area: deluxes;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "nueve"
      "diez"
      "once"
      "doce";

    column-gap: 10px;
    row-gap: 10px;
    .producto {
      justify-self: center;
      align-self: center;
      display: flex;
      flex-direction: column;
      border-radius: 2em;
      width: 80%;
      height: 300px;
      background-color: $colorCrema;
      align-self: center;
      justify-content: center;
      align-items: center;

      img {
        width: 70%;
      }
      p {
        height: fit-content;
        margin: 0px 5px;
        @include parrafos(18px, 18px, center);
      }
    }
  }

  .quesos__titulo {
    grid-area: quesos;
    @include titulos(($font * 2)+4, normal, normal);
  }
  #quesito {
    grid-area: quesito;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .producto {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 75%;
      border-radius: 2em;
      height: 310px;
      background-color: $colorCrema;
      margin-bottom: 10px;
      img {
        width: 75%;
        height: 75%;
      }
      p {
        height: fit-content;
        margin: 0px 5px;
        @include parrafos(18px, 18px, center);
      }
    }
  }
  /*footer*/

  .divFoot {
    grid-area: footer;
    height: fit-content;
    align-self: end;
    display: flex;
    justify-content: center;

    height: 200px;
    border-top: 1px rgba(27, 32, 26, 0.979) solid;
    grid-area: footer;
    footer {
      background-color: $verde1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 2fr 1fr 2fr;
      grid-template-areas:
        "con red"
        "datos redes"
        "csgo csgo"
        "pago pago";

      height: 100%;
      width: 100%;
      .tituloFoot {
        width: fit-content;
        font-size: 18px;
        font-family: "Ubuntu", sans-serif;
        justify-self: center;
        align-self: center;
        margin: 0%;
      }
      .datos {
        grid-area: datos;
        width: fit-content;
        justify-self: center;
        font-family: "Ubuntu", sans-serif;
        font-size: 12px;
        p {
          width: 100%;
        }
      }
      .redesSociales {
        grid-area: redes;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        .icono {
          color: #eef788;
          text-align: center;
          width: 30px;
          height: 30px;
          border-radius: 2em;
          box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.09);
          margin: 0 10px;
          line-height: 30px;
          font-size: 20px;
          &:hover {
            color: #212529;
          }
        }
      }
      #pago {
        grid-area: csgo;
      }
    }
    .legalInfo {
      .far {
        color: #eef788;
      }
      .fab {
        color: #eef788;
      }
      grid-area: pago;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      i {
        font-size: 20px;
      }
    }
  }
  /**Fin del footer*/
}
@media only screen and (min-width: 600px) {
  #grilla2 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.4fr 4fr 1.2fr;
    grid-template-areas:
      "nav nav nav"
      "section section section"
      "footer footer footer";
  }
  /*menu*/
  .olivArte {
    grid-area: logo;
    font-size: 30px;
    height: 30px;
  }
  header {
    grid-area: nav;
    .menu {
      font-size: 17px;
      height: 40px;
      .menu__lista {
        height: 100%;
        margin: 0%;
        padding: 0%;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        .menu__item {
          width: fit-content;

          height: fit-content;
          .menu__link {
            margin: 0px 5px;
            font-family: "Lora", serif;
          }
        }
      }
    }
  }
  /*fin del menu*/
  /*!section*/
  #pregFrecuentes {
    @include titulos(64px, 500, normal);
  }
  .section {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    .section__article {
      .section__titulo {
        @include pregunta(30px, 500, center);
      }
      .section__p {
        @include parrafos(20px, 40px, center);
      }
    }
  }
  /**fin del section*/

  /*footer*/

  .divFoot {
    grid-area: footer;
    height: fit-content;
    align-self: end;
    display: flex;
    justify-content: center;

    height: 200px;
    border-top: 1px rgba(27, 32, 26, 0.979) solid;
    grid-area: footer;
    footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 2fr;
      grid-template-areas:
        "con red legal"
        "datos redes none";
      height: 100%;
      width: 90%;
      .tituloFoot {
        width: fit-content;
        font-size: 22px;
        font-family: "Ubuntu", sans-serif;
        justify-self: center;
        align-self: center;
        margin: 0%;
      }
      .datos {
        grid-area: datos;
        width: fit-content;
        justify-self: center;
        font-family: "Ubuntu", sans-serif;
        font-size: 18px;
        p {
          width: 100%;
        }
      }
      .redesSociales {
        grid-area: redes;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        .icono {
          color: #eef788;
          text-align: center;
          width: 40px;
          height: 40px;
          border-radius: 2em;
          box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.09);
          margin: 0 10px;
          line-height: 40px;
          font-size: 30px;
          &:hover {
            color: #212529;
          }
        }
      }
    }
    .legalInfo {
      .far {
        color: #eef788;
      }
      .fab {
        color: #eef788;
      }
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      i {
        font-size: 30px;
      }
    }
  }
  /**Fin del footer*/

  #grilla1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    grid-template-areas:
      "nav nav"
      "aceitunas aceitunas"
      "clasico clasico"
      "deluxe deluxe"
      "deluxes deluxes"
      "quesos quesos"
      "quesito quesito"
      "footer footer";
    row-gap: 10px;
    column-gap: 10px;
  }
  .tunas {
    grid-area: aceitunas;
    .tunas__titulo {
      @include titulos(($font * 2)+4, normal, normal);
    }
    .tunas__parrafo {
      @include pregunta($font, normal, center);
    }
  }
  #clasico {
    width: 100%;
    grid-area: clasico;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "uno dos"
      "tres cuatro"
      "cinco seis"
      "siete ocho";

    row-gap: 10px;
    column-gap: 10px;
    .producto {
      justify-self: center;
      align-self: center;
      display: flex;
      flex-direction: column;
      border-radius: 2em;
      width: 90%;
      height: 300px;
      background-color: $colorCrema;
      align-self: center;
      justify-content: center;
      align-items: center;

      img {
        width: 70%;
      }
      p {
        height: fit-content;
        margin: 0px 5px;
        @include parrafos(18px, 18px, center);
      }
    }

    img {
      width: 50%;
    }
  }

  #deluxeTitulo {
    grid-area: deluxe;
    @include pregunta($font, normal, center);
    margin: 0;
  }
  #deluxes {
    grid-area: deluxes;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "nueve diez"
      "once doce";
    column-gap: 10px;
    row-gap: 10px;
    .producto {
      justify-self: center;
      align-self: center;
      display: flex;
      flex-direction: column;
      border-radius: 2em;
      width: 90%;
      height: 300px;
      background-color: $colorCrema;
      align-self: center;
      justify-content: center;
      align-items: center;

      img {
        width: 70%;
      }
      p {
        height: fit-content;
        margin: 0px 5px;
        @include parrafos(18px, 18px, center);
      }
    }
  }

  .quesos__titulo {
    grid-area: quesos;
    @include titulos(($font * 2)+4, normal, normal);
  }
  #quesito {
    grid-area: quesito;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .producto {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 75%;
      border-radius: 2em;
      height: 300px;
      background-color: $colorCrema;
      margin-bottom: 10px;
      img {
        width: 75%;
        height: 75%;
      }
      p {
        height: fit-content;
        margin: 0px 5px;
        @include parrafos(18px, 18px, center);
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  #grilla2 {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 3fr;
    grid-template-rows: 0.5fr 6fr 1.2fr;
    grid-template-areas:
      "nav nav nav nav"
      "section section section section"
      "footer footer footer footer";

    row-gap: 10px;
    width: 100%;
    height: auto;
  }

  /*!menu*/

  header {
    .menu {
      font-size: 25px;
      height: 50px;
      .logo {
        font-size: 50px;
      }
      .menu__lista {
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .menu__item {
          .menu__link {
            margin: 0px 10px;
          }
        }
      }
    }
  }
  /**fin de menu*/

  /*footer*/

  .divFoot {
    grid-area: footer;
    height: fit-content;
    align-self: end;
    display: flex;
    justify-content: center;

    height: 200px;
    border-top: 1px rgba(27, 32, 26, 0.979) solid;
    grid-area: footer;
    footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 2fr;
      grid-template-areas:
        "con red legal"
        "datos redes none";
      height: 100%;
      width: 90%;
      .tituloFoot {
        width: fit-content;
        font-size: 22px;
        font-family: "Ubuntu", sans-serif;
        justify-self: center;
        align-self: center;
        margin: 0%;
      }
      .datos {
        grid-area: datos;
        width: fit-content;
        justify-self: center;
        font-family: "Ubuntu", sans-serif;
        font-size: 18px;
        p {
          width: 100%;
        }
      }
      .redesSociales {
        grid-area: redes;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        .icono {
          color: #eef788;
          text-align: center;
          width: 40px;
          height: 40px;
          border-radius: 2em;
          box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.09);
          margin: 0 10px;
          line-height: 40px;
          font-size: 30px;
          &:hover {
            color: #212529;
          }
        }
      }
    }
    .legalInfo {
      .far {
        color: #eef788;
      }
      .fab {
        color: #eef788;
      }
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      i {
        font-size: 30px;
      }
    }
  }
  /**Fin del footer*/
  html {
    width: 100%;
  }
  #grilla1 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    grid-template-areas:
      "nav nav"
      "contenedor contenedor"
      "aceitunas aceitunas"
      "clasico clasico"
      "deluxe deluxe"
      "deluxes deluxes"
      "quesos quesos"
      "quesito quesito"
      "footer footer";
    grid-auto-rows: auto;
    row-gap: 10px;
    column-gap: 10px;
  }
  #contenedor {
    grid-area: contenedor;
    font-size: 32px;
    background-color: #4f772d;
    width: fit-content;
    height: fit-content;
    border-radius: 2px;
    justify-self: center;
    align-self: center;
    color: #eef788;
  }

  .tunas {
    grid-area: aceitunas;
    .tunas__titulo {
      @include titulos(($font * 2)+4, normal, normal);
    }
    .tunas__parrafo {
      @include pregunta($font, normal, center);
    }
  }
  #clasico {
    width: 100%;
    grid-area: clasico;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "uno dos"
      "tres cuatro"
      "cinco seis"
      "siete ocho";

    row-gap: 10px;
    column-gap: 10px;
    .producto {
      justify-self: center;
      align-self: center;
      display: flex;
      flex-direction: row;
      border-radius: 2em;
      width: 95%;
      height: 320px;
      background-color: $colorCrema;
      justify-content: center;
      align-items: center;

      .descPrecio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 50%;
        height: 100%;

        .precio {
          justify-self: flex-end;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          p {
            width: fit-content;
            margin: 0;
          }
          i {
            font-size: 20px;
          }
        }

        .precioGrandes {
          justify-self: flex-end;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          p {
            margin: 0;
            width: fit-content;
          }
          i {
            font-size: 20px;
          }
        }
      }
      img {
        width: 50%;
      }
      p {
        height: fit-content;
        margin: 0px 5px;
        @include parrafos(20px, 20px, center);
      }
    }
    #cheddar {
      grid-area: tres;
    }
    #crudo {
      grid-area: cuatro;
    }
    #salame {
      grid-area: cinco;
    }
    #mix1 {
      grid-area: seis;
    }
    #mix2 {
      grid-area: siete;
    }
    #mix3 {
      grid-area: ocho;
    }

  }

  #deluxeTitulo {
    grid-area: deluxe;
    @include pregunta($font, normal, center);
    margin: 0;
  }
  #deluxes {
    grid-area: deluxes;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "nueve diez"
      "once doce";

    .producto {
      display: flex;
      flex-direction: row;
      border-radius: 2em;
      width: 90%;
      height: 320px;
      background-color: $colorCrema;
      align-self: center;
      justify-content: center;
      align-items: center;

      .descPrecio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 50%;
        height: 100%;

        .precio {
          justify-self: flex-end;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          p {
            margin: 0;
            width: fit-content;
          }
          i {
            font-size: 20px;
          }
        }
        &::before {
          overflow: hidden;
        }

        .precioGrandes {
          justify-self: flex-end;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          p {
            width: fit-content;
            margin: 0;
          }
          i {
            font-size: 20px;
          }
        }
      }
      img {
        width: 50%;
      }
      p {
        height: fit-content;
        margin: 0px 5px;
        @include parrafos(20px, 20px, center);
      }

      #almendras {
        grid-area: nueve;
        width: 90%;
      }
      #capresse {
        grid-area: diez;
        width: 90%;
      }
      #palmitos {
        grid-area: once;
        width: 90%;
      }
      #ajo {
        grid-area: doce;
        width: 90%;
      }
    }
  }

  .quesos__titulo {
    grid-area: quesos;
    @include titulos(($font * 2)+4, normal, normal);
  }
  #quesito {
    grid-area: quesito;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .producto {
      display: flex;
      flex-direction: row;
      width: 75%;
      border-radius: 2em;
      height: 320px;
      background-color: $colorCrema;
      margin-bottom: 10px;
      justify-content: center;
      align-items: center;

      .descPrecio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 60%;
        height: 100%;

        .precio {
          justify-self: flex-end;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          p {
            width: fit-content;
            margin: 0;
          }
          i {
            font-size: 20px;
          }
        }
      }
      img {
        width: 100%;
        height: 100%;
      }
      p {
        height: fit-content;
        margin: 0px 5px;
        @include parrafos(20px, 20px, center);
      }
    }
  }
}
#bodie {
  display: flex;
  flex-direction: column;
  #card {
    margin: 30px 0px 30px 0;
    justify-self: center;
    align-self: center;
    display: grid;
    width: 700px;
    height: 600px;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 3fr 0.5fr 2fr;
    grid-template-areas:
      "carrusel carrusel"
      "precio precio"
      "datos datos";

    background-color: #eef788;
    border-radius: 10%;
    #precioFinal{
        grid-area: precio;
        color: #eef788;
        @include parrafos(20px,20px ,center );

    }
    #carouselExampleControls {
      grid-area: carrusel;
      align-self: center;
      height: 400px;
      color: black;
      img {
        height: 400px;
      }
    }

    #producto {
      grid-area: datos;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "label1 input1"
                        "label2 input2"
                        "label3 input3"
                        "comprar comprar";
    
    #label1{
        grid-area: label1;
        justify-self: end;
    }
    #label2{
        grid-area: label2;
        justify-self: end;
    }
    #label3{
        justify-self: end;
        grid-area: label3;
    }
    #aceitunitas{
        grid-area: input1;
    }
    #tamanio{
        grid-area: input2;
    }
    #cant{
        grid-area: input3;
    }
    #comprar{
        
        grid-area: comprar;
        justify-self:start ;
    }
      .labelProduct {
        justify-self: center;
        @include parrafos(20px, 20px, flex-start);
        height: fit-content;
        align-self: center;
        width: fit-content;
      }
      .forma {
        align-self: center;
        width: 50%;
        border-radius: 5px;
        margin-left: 10px;
        &:focus-visible{
            outline: none;
        }
      }
    }
  }
}
